@CHARSET "UTF-8";
#vimeo-powered-by {
	display:block;
	float:right;
	clear:right;
	width:114px;
	height:18px;
	padding:0;
	background:transparent url(../images/vimeo-powered-by.png) top left no-repeat;
	text-decoration:none !important;
}
.vimeogallery .clearfix:after {
	height: 0;
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
}
.vimeogallery ul.vimeo-video-list {
	margin: 0;
}
.vimeogallery ul.vimeo-video-list li.vimeo-video-container {
	list-style:outside;
	list-style-type: none;
	margin-bottom: 24px;
}

.vimeogallery ul.vimeo-video-list li.vimeo-video-container .vimeo-video-thumb {
	float:left;
	width:100px;
	padding:5px;
	text-align:center;
}

.vimeogallery ul.vimeo-video-list li.vimeo-video-container .vimeo-video-thumb a {
	text-decoration:none;
}

.vimeogallery ul.vimeo-video-list li.vimeo-video-container .vimeo-video-thumb img {
	border:none;
}

.vimeogallery ul.vimeo-video-list li.vimeo-video-container .vimeo-video-details {
	float:left;
	padding:5px;
	width:850px;
}

.vimeogallery ul.vimeo-video-list li.vimeo-video-container .vimeo-video-details p {
	margin:5px auto;
}


.vimeogallery .pageNumbers {
	float:left;
	clear:left;
	margin:0 25%;
	padding-bottom: 8px;
}

.vimeogallery .pageNumbers a, .vimeogallery .pageNumbers strong {
	float:left;
	display:block;
	width:auto;
	margin:0 3px;
}

.vimeogallery .pageNumbers a {
	border-bottom-color: #ffffff;
	outline: medium none;
}

.vimeogallery .pageNumbers a:link, .vimeogallery .pageNumbers a:visited {
	border-bottom-color: #ffffff !important;
}

.vimeogallery .pageNumbers a:hover {
	color: #d80000 !important;
	border-bottom-color: #b80000 !important;
}

/* Detail page stuff. */
.vimeogallery .video-wrapper {
	margin:24px auto 10px auto;
}

.vimeogallery .video-stats ul {
	margin: 0;
}

.vimeogallery .video-stats ul li {
	display:inline;
	margin-right: 8px;
}

.vimeogallery .video-stats .vimeo-stat, .vimeogallery .video-owner a {
	font-weight:bold;
}

.vimeogallery .video-stats, .vimeogallery .video-owner, .vimeogallery .video-description {
	margin-top:8px;
}
